.nav-item {
    font-size: 1.3vw;
}

.image {
    padding: 2vw;
    max-width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .nav-item {
        font-size: 2vw;
    }
/* 
    .image {
        width: 500px;
        height: 100%;
    } */
}