header {
  background-color: #d32323;
  margin: 0;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 1rem;
}

h1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figure {
  height: 20rem;
  width: 20rem;
}

img {
  height: 100%;
  width: 100%;
}

/*
.tabs {
    padding: 1em;
  }
*/
[role="tablist"] {
  margin-bottom: -1px;
}

[role="tab"] {
  position: relative;
  background: whit  e;
  border-radius: 5px 5px 0 0;
  border: 1px solid grey;
  border-bottom: 0;
  padding: 0.2em;
}

[role="tab"][aria-selected="true"] {
}

[role="tabpanel"] {
  position: relative;
  padding: 0 0.5em 0.5em 0.7em;
  border: 1px solid grey;
  border-radius: 0 0 5px 5px;
  background: white;
}

[role="tabpanel"]:focus {
  border-color: orange;
  outline: 1px solid orange;
}